{{if .Humans}}<html>
<head>
<meta name="demo" content="custom template">
<meta name="go-import" content="{{ .ImportPath }} {{ .VCS }} {{ .Repo }}">
<title>{{ .Name }}{{ if .Descr }} - {{ .Descr }}{{ end }}</title>
</head>
<body>
<h1>{{ .Name }}</h1>
<p><i>{{ .Descr }}</i><br>
{{ .VCS }}: <a href="{{ .Repo }}">{{ .Repo }}</a></p>
<h2>Reference</h2>
<a href="{{ .Godoc }}"><img src="{{ .Godoc }}?status.svg" alt="GoDoc"></a><br>
{{ if .DocURL }}See also: <a href="{{ .DocURL }}">{{ .DocURL }}</a>{{ end }}
</body>
</html>{{ else }}<head>
<meta http-equiv="refresh" content="0; URL='{{ .Godoc }}'">
<meta name="go-import" content="{{ .ImportPath }} {{ .VCS }} {{ .Repo }}">
</head>{{ end }}